#login {
  .login {
    &__content {
      padding: 32px 0 88px;

      @media screen and (min-width: 992px) {
        padding: 72px 0 64px;
      }
    }

    &__title {
      text-align: center;
      margin-bottom: 24px;
    }

    &__text {
      text-align: center;
      margin-bottom: 24px;
      font-size: 1.4rem;

      @include device(lg) {
        margin-bottom: 48px;
      }
    }

    &__form {
      margin-bottom: 40px;

      @include device(lg) {
        margin-bottom: 48px;
      }

      .form-group {
        margin-bottom: 16px;

        &:last-of-type {
          margin-bottom: 24px;
        }

        .form-component {
          width: 100%;
          justify-content: center;

          @include device(lg) {
            justify-content: start;
          }
        }
      }
    }

    &__new-account {
      p {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 16px;
      }
    }
  }
}
