.c-badge {
  width: 100%;
  height: 26px;
  border: none;
  text-align: center;
  padding: 4px 10px;
  font-size: 1.2rem;

  &.primary {
    color: $white;
    @extend %purple-gradient;
  }

  &.tertiary {
    color: $white;
    @extend %green-gradient;
  }
}
