.c-button {
  width: 100%;
  height: 44px;
  font-weight: 600;
  border: none;
  font-size: 1.6rem;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: all 300ms ease;

  &--none {
    background: transparent;
    border: 0;
  }

  svg {
    transition: inherit;
  }

  path {
    fill: $primary-300;
    transition: inherit;
  }

  &--primary {
    color: $white;
    background: $primary-300;
    
    path {
      fill: $white;
    }

    &:hover {
      background-color: $primary-400;
    }

    &:disabled {
      color: $gray-400;
      background: $gray-200;

      path {
        fill: $gray-300;
      }
    }
  }

  &--secondary {
    background: $white;
    color: $primary-300;
    border: 1px solid $primary-300;

    &:hover {
      background: $primary-300;
      color: $white;

      path {
        fill: $white;
      }
    }

    &:disabled {
      background: $white;
      border: 1px solid $gray-300;
      color: $gray-300;

      path {
        fill: $gray-300;
      }
    }
  }

  &--tertiary {
    color: $white;
    background: $secondary-100;

    &:hover {
      background: $secondary-200;
    }

    &:disabled {
      background: $gray-200;
      color: $gray-400;

      path {
        fill: $gray-300;
      }
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;

    &--small {
      width: 14px;
      height: 14px;
    }
  }
}
