.l-category {
  margin-bottom: 80px;

  &__title {
    font-weight: 400;
    font-size: 2.4rem;
    color: $gray-500;
    line-height: 3.6rem;
    text-align: center;
  }

  &__visualization {
    margin-top: 16px;
    color: $gray-300;
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 400;
    text-align: center;
  }

  &__line {
    width: 100%;
    height: 1px;
    background: $primary-100;
    margin-top: 24px;
    margin-bottom: 30px;
  }

  &__filter {

    &-button {
      button {
        display: none;
  
        svg {
          width: 20px;
        }
        
        @include device (md) {
          display: flex;
        }
    
        @include device (sm) {
          display: flex;
        }
  
      }
    }

    &-title {
      margin-bottom: 24px;
      color: $primary-300;
      font-size: 2.4rem;
      line-height: 3.6rem;
      font-weight: 500;
      display: block;
  
      @include device(sm) {
        display: none;
      }

      @include device(md) {
        display: none;
      }
  
      &--mobile {
        text-align: center;
        margin-bottom: 0;
        
        @include device(sm) {
          display: block;
        }

        @include device(md) {
          display: block;
        }
      }
    }

    &-close--mobile {
      position: absolute;
      right: 0;
      top: 0;
    }

    &-count--mobile {
      text-align: center;
    }
    
    &-header--mobile {
      display: none;
      position: relative;

      @include device(sm) {
        display: block;
      }

      @include device(md) {
        display: block;
      }
    }
  }


  &__filter-container {

    @include device(sm) {
      display: none;
    }

    &--mobile {
      position: fixed;
      overflow-y: auto;
      z-index: 1000;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      background: $white;
      display: none;
      padding-top: 24px;
      padding-bottom: 32px; 
      @extend %scrollbar-stylized;

      @include device(sm) {
        display: block;
      }

      @include device(md) {
        display: block;
      }
    }
  }

  &__product-results {
    display: flex;
    flex-wrap: wrap;

    & > * {
      max-width: 314px;
      height: 520px;

      @include device(sm) {
        height: auto;
      }

      @include device(sm) {
        max-width: 50%;
      }

      @media screen and (min-width: 0) and (max-width: 410px) {
        max-width: 100%;
      }
    }
  }

  &__show-more {
    max-width: 314px;
  }

  &__show-more-text {
    text-align: center;
    font-size: 1.4rem;
    color: $gray-300;
    line-height: 2.1rem;
    margin: 24px 0;
  }

}