.title {
  &.heading-1 {
    font-size: 3.6rem;
  }

  &.heading-2 {
    font-size: 2.8rem;
  }

  &.heading-3 {
    font-size: 2.2rem;
  }

  &.heading-4 {
    font-size: 1.8rem;
  }

  &.heading-5 {
    font-size: 1.4rem;
  }

  &.regular {
    font-weight: 400;
  }

  &.bold {
    font-weight: 700;
  }

  &.black {
    font-weight: 900;
  }

  &.primary {
    color: $primary;
  }

  &.primary {
    color: $primary;
  }

  &.primary-dark {
    color: $primary-dark;
  }

  &.primary-light {
    color: $primary-light;
  }

  &.secondary {
    color: $secondary;
  }

  &.secondary-dark {
    color: $secondary-dark;
  }

  &.secondary-light {
    color: $secondary-light;
  }

  &.gray1 {
    color: $gray1;
  }

  &.gray2 {
    color: $gray2;
  }

  &.gray3 {
    color: $gray3;
  }

  &.gray4 {
    color: $gray4;
  }

  &.gray5 {
    color: $gray5;
  }

  &.status-negative {
    color: $status-negative;
  }

  &.status-atention {
    color: $status-atention;
  }

  &.status-success {
    color: $status-success;
  }

  &.black {
    color: $black;
  }

  &.white {
    color: $white;
  }
}
