.close-link {
  a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: $primary;
    padding: 20px 0px;
    width: 100%;

    img {
      margin-left: 12px;
    }
  }

  @media screen and (min-width: 992px) {
    display: none;
  }
}
