.c-filter {
  border: 1px solid $gray-200;
  background: transparent;
  padding: 9px 8px;
  color: $gray-500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 400;

  &--applied {
    color: $primary-300;

    &:hover {

      svg {
        stroke-width: 2;
      }
    }

    svg {
      path {
        stroke: $primary-300;
      }
    }
  }

  &:hover {
    border-color: $primary-300;
    color: $primary-300;
  }

  &__button {
    cursor: pointer;
    background: transparent;
    border: 0;
  }

  svg {
    fill: $primary-300;
    height: 1.6rem;
    width: 1.6rem;
    margin-left: 6px;
  }
}
