$storage-colors: (
  warning: (
    fontColor: $attention-300,
    backgroundColor: $attention-100,
    borderColor: 1px solid rgba(227, 148, 2, 0.1)
  ),
  success: (
    fontColor: $success-300,
    backgroundColor: $success-100,
    borderColor: 1px solid rgba(40, 167, 69, 0.1)
  ),
  error: (
    fontColor: $error-300,
    backgroundColor: $error-100,
    borderColor: 1px solid rgba(220, 50, 67, 0.1)
  ),
  info: (
    fontColor: $primary-300,
    backgroundColor: $primary-100,
    borderColor: 1px solid rgba(189, 84, 215, 0.1)
  ),
  lamp: (
    fontColor: $gray-400,
    backgroundColor: $gray-100,
    borderColor: 1px solid rgba(159, 159, 159, 0.19)
  )
);

@each $keyColors, $colors in $storage-colors {
  .c-alert.c-alert--#{$keyColors} {
    background-color: #{map-get($colors, 'backgroundColor')};
    color: #{map-get($colors, 'fontColor')};
    border: #{map-get($colors, 'borderColor')};
  }
}

.c-alert {
  padding: 7px 10px;
  width: 100%;
  transition: all 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include device(md) {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  span {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 10px;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 8px;
  }
  
  &__icon, &__icon svg {
    height: 1.6rem;
    width: 1.6rem;
  }

  button {
    text-align: center;
    outline: none;
    background: transparent;
    color: currentColor;
    border: none;
    width: 24px;
    height: 24px;
  }

  svg {
    stroke: currentColor;
  }
  
  & > button, & > button > svg {
    width: 16px;
    height: 16px;
  }
  
}
