.c-side-cart {
  &__product {
    display: flex;
    align-items: flex-start;
    padding: 16px 0;
    border-bottom: 1px solid $gray-100;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border: none;
      padding-bottom: 0;
    }

    &-img {
      max-width: 62px;
      margin-right: 8px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 1.2rem;
      color: $gray-500;
      margin-right: 10px;

      @media screen and (min-width: 414px) {
        margin-right: 25px;
      }
    }

    &-price {
      font-size: 14px;
      font-weight: 600;
      color: $gray-500;
      white-space: nowrap;
    }
  }
}
