.l-header {
  display: flex;
  align-items: center;
  padding-top: 36px;
  background: $white;
  position: relative;
  z-index: 13;

  @include device(md) {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    padding-bottom: 22px;
    padding-top: 22px;
  }

  @include device(sm) {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    padding-bottom: 22px;
    padding-top: 22px;
  }

  &__logo {
    min-width: 120px;
    min-height: 37.6px;

    @include device(md) {
      img {
        width: 120px;
        max-width: initial;
      }
    }

    @include device(sm) {
      order: -1;

      img {
        width: 120px;
        max-width: initial;
      }
    }

    @media (max-width: 400px) {
      img {
        width: 100%;
        max-width: 100%;
        margin-left: -16px;
      }
    }
  }

  &__search-desk {
    margin-left: -130px;
    
    @include device(xl) {
      flex-basis: 719px;
      max-width: 719px;
    }    

    @include device(sm) {
      display: none;
    }

    @include device(md) {
      display: none;
    }
  }

  &__search-mobile {
    display: none;

    @include device(sm) {
      display: block;
    }

    @include device(md) {
      display: block;
    }
  }

  &__user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include device(md) {
      position: static;
    }

    @include device(sm) {
      position: static;
    }

    button {
      background: transparent;
      border: none;
    }

    * + button {
      margin-left: 26px;
    }
  }
  
  &__menu-navigation-mobile {
    display: none;
    order: -2;
    
    button {
      background: transparent;
      border: none;  
    }

    @include device(sm) {
      display: block;
    }

    @include device(md) {
      display: block;
    }
  }

  &__menu-navigation-desk {
    padding-top: 36px;
    position: relative;
    z-index: 12;
    background: #FFF;

    @include device(sm) {
      display: none;
    }

    @include device(md) {
      display: none;
    }
  }

  &__userIcon {
    
    @include device(sm) {
      display: none;
    }

    @include device(md) {
      display: none;
    }
  }

}