@mixin device($device) {
  @if $device == xl {
    @media screen and (min-width: $xl) {
      @content;
    }
  }
  @else if $device == lg {
    @media screen and (min-width: $lg) and (max-width: $xl - 1) {
      @content;
    }
  }
  @else if $device == md {
    @media screen and (min-width: $md) and (max-width: $lg - 1) {
      @content;
    }
  }
  @else if $device == sm {
    @media screen and (max-width: $md - 1) {
      @content;
    }
  }
}

%purple-gradient {
  background: linear-gradient(124.04deg, #58006D 0%, #BD54D7 100%);
}

%green-gradient {
  background: linear-gradient(123.8deg, #166D00 0%, #64BE4D 100%);
}

%transition-ease {
  transition: all .2s ease;
}

%scrollbar-stylized {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $gray-100;
    border: 1px solid $gray-200;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-300;
    border-radius: 20px;
    border: 2px solid $gray-100;
  }
}