@import "./imports";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $white;
}

body,
input,
textarea,
button {
  font: 400 1.6rem Montserrat, sans-serif;
  color: $gray-500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: $gray-500;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  cursor: pointer;
}

.border-default {
  border-radius: 0;
}
