.c-input {
  position: relative;

  &__label {
    font-size: 1rem;
    line-height: 1.4rem;
    color: $gray-500;
  }

  .has-icon {
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 38px;
  }

  &__input {
    background: $white;
    border: 1px solid $gray-300;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 1.4rem;
    width: 100%;
    font-weight: normal;
    height: 44px;
    display: block;
    padding: 0 16px;
    outline: none;
    margin-top: 8px;

    &.error {
      border-color: $error-200!important;
    }

    &:focus {
      border-color: $primary-200;
    }

    &:disabled {
      background: $gray-100;
      border-color: $gray-300;
      color: $gray-300;
    }

    &.is-filled {
      border-color: $gray-400;
    }
  }

  &__message {
    display: flex;  
    justify-content: flex-start;
    margin-top: 8px;
  }

  &__text-error {
    color: $error-200;
    font-weight: 400;
    background: url("../../../assets/images/icons/information.svg") no-repeat left;
    padding-left: 16px;
  }
}
