.c-search {
  border: 1px solid $gray-200;
  height: 48px;
  padding: 16px 12px;
  display: flex;
  align-items: center;

  @include device(sm) {
    border: none;
    height: auto;
    padding: 0;
  }

  @include device(md) {
    border: none;
    height: auto;
    padding: 0;
  }

  &__input {
    border: none;
    color: $gray-400;
    outline: none;
    font-size: 1.6rem;
    width: calc(100% - 24px);

    @include device(sm) {
      display: none;
    }

    @include device(md) {
      display: none;
    }

    &:placeholder {
      color: $gray-400;
    }

    &:-webkit-autofill {
      background: transparent;
    }
  }

  &__button {
    border: none;
    background: transparent;
    
    path {
      fill: $primary-300;
    }
  }
}