.c-slider-arrow {
  border: none;
  height: 125px;
  width: 48px;
  opacity: 0.5;
  
  &.is-background {
    background: $gray-100;
  }

  &:hover:not(&:disabled) {
    opacity: initial;
  }

  &:disabled {
    svg {
      stroke: $gray-300;  
    }
  }

  svg {
    stroke: $primary-300;
  }
}