.l-product-details {

  svg {
    width: 18px;
  }

  &__description-container {
    
    @include device(xl) {
      margin-left: 90px;
      max-width: 460px;
    }

    @include device(lg) {
      margin-top: 20px;
    }

    @include device(md) {
      margin-left: 0px;
      margin-top: 32px;
    }

    @include device(sm) {
      margin-left: 0px;
      margin-top: 32px;
    }
  }

  &__title {
    font-size: 3rem;
    font-weight: 500;
    color: $gray-500;
    line-height: 4.5rem;
    margin-bottom: 8px;

    @include device(sm) {
      text-align: center;
    }
  }

  &__price-container {
    display: flex;
    align-items: center;

    &-for {
      position: relative;
      bottom: 3px;
    }
  }
  
  &__old-price {
    font-size: 1.6rem;
    text-decoration: line-through;
    color: $gray-500;
    font-weight: 400;
  }

  &__for-price {
    color: $secondary-100;
    margin: 0 3px;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__price {
    color: $secondary-100;
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;

    @include device(sm) {
      text-align: center;
    }
  }

  &__select {

    @include device(lg) {
      max-width: 186px;
      width: 100%;
    }
  }

  &__line {
    height: 1px;
    background: $gray-200;
    width: 100%;
    display: block;
  }

  &__stock {
    margin-top: 16px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    svg {
      margin-right: 8px;
    }
  }

  &__share-container {
    position: relative;
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $gray-500;
    line-height: 2.4rem;

    button {
      background: transparent;
      border: none;
      display: flex;
      align-items: center;
    }

    @include device(sm) {
      flex-direction: column;

      & > span:nth-of-type(1) {
        margin-bottom: 18px;
      }
    }

    svg {
      margin-right: 8px;
    }
    
    &-options {
      position: absolute;
      z-index: 1;
      background: $white;
      right: 0;
      top: 30px;
      width: 100%;
      max-width: 200px;
      padding: 16px 16px 30px;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
      display: flex;
      flex-direction: column;

      @include device(sm) {
        right: 124px;
        top: 68px;
      }
    }

    &-close {
      align-self: flex-end;
    }

    &-list {

      & li:not(li:last-of-type) {
        margin-bottom: 8px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      font-size: 1.4rem;

      svg {
        margin-right: 20px;
        width: 24px;
      }

      .svg-facebook {
        path {
          fill: #3B5998;
        }
      }

      .svg-pinterest {
        path {
          fill: #E60023;
        }
      }
      
      .svg-twitter {
        path {
          fill: #00ACED;
        }
      }
    }

  }

  &__information {
    margin-top: 16px;

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $gray-500;
      cursor: pointer;

      &::after {
        content: '';
        width: 15px;
        height: 8px;
        background: url("../../assets/images/icons/arrow-small-up.svg") no-repeat center;
      }
  
      &--active {
        &::after {
          background: url("../../assets/images/icons/arrow-small-down.svg") no-repeat center;
        }      
      }
    }

    &-content {
      display: none;
      padding: 16px 8px;
      color: $gray-400;
      font-size: 1.4rem;
      line-height: 2.1rem;
      font-weight: 400;

      &--active {
        display: block;
      }

      @include device(sm) {
        padding: 16px 0;
      }
    }
  }
}