.accordion {
  cursor: pointer;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    position: relative;
    .icon {
      width: 12px;
      position: absolute;
      right: 0;
    }
  }
  &-content {
    display: none;
  }
  &.active {
    .accordion-content {
      display: block;
    }
  }
}
